<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>MR CLEANSZ</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/footer.css" />
  <link rel="stylesheet" href="/css/header.css" />
  <link rel="stylesheet" href="/css/index/section1.css" />
  <link rel="stylesheet" href="/css/index/bagaimana.css" />
  <link rel="stylesheet" href="/css/index/about.css" />
  <link rel="stylesheet" href="/css/index/services.css" />
  <link rel="stylesheet" href="/css/index/testimoni.css" />
  <link rel="stylesheet" href="/css/reservasi/reservasi.css" />
  <link rel="stylesheet" href="/css/pesanansaya/pesanan-saya.css">
  <link rel="stylesheet" href="/css/pembayaran/payment.css">
  <link rel="stylesheet" href="/css/index/section2.css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
