<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head-admin')  %>
</head>
<body>
    <header>
        <%- include('partials/header-admin')  %>
    </header>
    <!-- Tambahkan fitur-fitur admin di sini -->
    <main>
        <%- include('partials/index/section-admin')  %>
    </main>
</body>
</html>
