<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('partials/head') %>
  </head>
  <body>
    <!--navbar-->
    <%- include('partials/header') %>
    
    <main><%- include ('partials/sectionreservasi') %></main>
  </body>
</html>
