<section class="section2" id="about">
    <div class="gambarabout">
        <img src="/images/sepatu2.jpg" alt="" class="sepatu2" data-aos="fade-up" data-aos-duration="1000">
        <img src="/images/sepatu3.jpg" alt="" class="sepatu3" data-aos="fade-up" data-aos-duration="500">
    </div>

    <div class="abouttext" data-aos="fade-left" data-aos-duration="1000">
        <h2 class="txtAbout">About Us</h2>
        <p class="paragAbout">Di Mr. CleansZ, kami memahami betapa pentingnya sepatu yang bersih dan terawat. Kami hadir untuk memberikan solusi terbaik bagi sepatu kotormu. Dengan tim yang berpengalaman dan layanan yang ramah, kami berkomitmen untuk menjaga sepatu kesayangan Anda agar tetap awet dan nyaman. Setiap langkah dalam proses laundry kami dilakukan dengan penuh perhatian, sehingga Anda bisa kembali memakai sepatu Anda dengan percaya diri.</p>
    </div>
</section>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>