<section class="section3" id="bagaimana">
  <div class="sec3text">
    <h2 class="headlinesc3">Langkah Mudah Yang Bikin Sepatu Kamu Bersih</h2>
    <p class="paragsc3">
      Kami memudahkan Anda untuk mendapatkan sepatu bersih tanpa repot. Dengan
      alur yang sederhana, Anda dapat memilih layanan, mengatur pengantaran atau
      penjemputan, dan menunggu sepatu kembali dalam kondisi terbaik. Kami
      berkomitmen untuk memberikan pelayanan yang cepat, praktis, dan
      berkualitas.
    </p>
  </div>

  <div class="bagaimanatext">
    <div class="bagaimana1" data-aos="zoom-in-up">
      <h1 class="nomor">1</h1>
      <h2 class="judul">Pilih Layanan</h2>
      <p class="paragbagaimana">
        Tentukan jenis layanan yang Anda inginkan, antara Fast Cleaning atau
        Deep Cleaning, sesuai kebutuhan sepatu Anda.
      </p>
    </div>

    <div class="bagaimana2" data-aos="zoom-in-up">
      <h1 class="nomor">2</h1>
      <h2 class="judul">Penjemputan atau Pengantaran</h2>
      <p class="paragbagaimana">
        Kami menawarkan pilihan penjemputan di lokasi Anda atau pengantaran
        langsung ke tempat kami.
      </p>
    </div>

    <div class="bagaimana3" data-aos="zoom-in-up">
      <h1 class="nomor">3</h1>
      <h2 class="judul">Proses Pembersihan</h2>
      <p class="paragbagaimana">
        Sepatu Anda akan dibersihkan dengan teliti sesuai layanan yang dipilih.
        Kami menggunakan teknik khusus untuk memastikan hasil terbaik pada
        setiap sepatu.
      </p>
    </div>

    <div class="bagaimana4" data-aos="zoom-in-up">
      <h1 class="nomor">4</h1>
      <h2 class="judul">Pengembalian Sepatu</h2>
      <p class="paragbagaimana">
        Setelah proses selesai, sepatu akan kami kembalikan dalam kondisi
        bersih, wangi, dan siap pakai. Anda tinggal menunggu, dan sepatu Anda
        akan kembali dalam kondisi terbaik!
      </p>
    </div>
  </div>
</section>
