<section class="section1">
    <div class="sc1-text">
        <h2> <span class="highlight">Sepatu Kotormu</span></h2>
        <p>Jadikan sepatu Anda tampil sempurna kembali dengan layanan laundry sepatu kami. Kami berkomitmen untuk memberikan layanan yang ramah, cepat, dan menjaga sepatu Anda agar tetap awet dan nyaman.</p>
        <a href="/reservasi" class="btnCuciSekarang">Cuci Sekarang</a>
    </div>

    <img src="/images/sepatu1.png" alt="Sepatu" class="bgSepatu" >
</section>