<section class="testimoni">
    <div class="content-testimoni">
        <h1>Pelanggan Kami</h1>
        <p>Kami bangga telah memberikan layanan berkualitas yang meninggalkan kesan positif bagi setiap pelanggan.</p>
        <div class="img-testi">
            <img src="/images/testi1.jpg" alt="" class="testi1" data-aos="zoom-in-up">
            <img src="/images/testi2.jpg" alt="" class="testi2" data-aos="zoom-in-up">
            <img src="/images/testi3.jpg" alt="" class="testi3" data-aos="zoom-in-up">
            <img src="/images/testi4.jpg" alt="" class="testi4" data-aos="zoom-in-up">
        </div>
    </div>
</section>