/* Section Halaman Pembayaran */
.section-pembayaran {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: relative;
  flex-direction: column;
  color: white;
}

.section-pembayaran .bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: grayscale(100%) brightness(50%);
  z-index: -1;
}

.section-pembayaran .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  width: 100%;
  z-index: 1;
  text-align: center;
}

.section-pembayaran h1 {
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.informasi-payment p {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 60px;
}

.section-pembayaran form {
  display: flex;
  flex-direction: column;
  align-items: center;  /* Pusatkan elemen secara horizontal */
  justify-content: center;  /* Pusatkan elemen secara vertikal */
  width: 100%;
  max-width: 400px;
  height: 100vh; /* Pastikan form memanfaatkan seluruh tinggi layar */
}
.section-pembayaran form div {
  margin-bottom: 15px;
  width: 100%;
}

.section-pembayaran form label {
  font-size: 12px;
  text-align: left;
  margin-bottom: 10px;
  display: block;
  color: #202020;
}

.section-pembayaran form input[type="file"] {
  background-color: transparent;
  width: 100%;
  padding: 10px;
  color: white;
}

.section-pembayaran form button[type="submit"] {
  background-color: #202020;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
  margin-top: 20px; /* Memberikan jarak dari elemen sebelumnya */
  align-self: center; /* Memastikan tombol berada di tengah */
  text-align: center;
}


#countdown-payment {
  color: #202020;
}

.section-pembayaran form button[type="submit"]:hover {
  background-color: #6c757d;
}

.content-payment {
  display: flex; /* Menyusun elemen secara horizontal atau vertikal (flexbox) */
  justify-content: center; /* Memusatkan elemen secara horizontal */
  align-items: center; /* Memusatkan elemen secara vertikal */
  flex-direction: row; /* Susun elemen secara horizontal */
  background-color: rgba(255, 255, 255, 0.128);
  border-radius: 20px;
  width: 80%; /* Lebar kontainer */
  height: 400px; /* Setel tinggi untuk memastikan elemen dapat dipusatkan */
  position: relative;
  margin: 20px auto;
  padding: 20px;
  color: #202020;
  gap: 40px;
  margin-top: 200px;
}

.informasi-payment {
  width: 50%; /* Setengah lebar */
  height: 500px;
  padding: 10px;
  color: #202020;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;

}

.upload-payment {
  width: 50%; /* Setengah lebar */
  height: 500px;
  color: #202020;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  margin-bottom: 100px;

}

.separator {
  border: none;
  border-top: 1px solid #ccc;  /* Garis horizontal */
  margin: 10px 0;  /* Jarak antara elemen */
  width: 100%;  /* Pastikan garis sepanjang lebar elemen */
}




.upload-container {
  border: 2px dashed #c3c8d2;
  border-radius: 10px;
  background-color: #ffffff;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.bi {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}
.upload-container p {
  margin: 0;
  color: #6c757d;
  font-size: 16px;
}
.upload-container .or {
  margin: 10px 0;
  color: #6c757d;
  font-size: 14px;
}
.upload-container button {
  background-color: #202020;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.upload-container button:hover {
  background-color: #6c757d;
}

#bank-select {
  padding-right: 20px;
}

/* Responsiveness */
@media (max-width: 768px) {
  .section-pembayaran .content {
    padding: 20px;
  }
}
